<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HOME PAGE</title>
</head>
<body>
    <%- include('./partials/nav') %>
    
    <%= user %>
    <%- include('./partials/script') %> 
</body>
</html> 